<div class="header">
    <h2>المناطق الحرجة للمشاريع</h2>
    </div>
    
<section class="content">
    <div class="box table-responsive">
         <!-- /.box-header -->
        <div class="box-body e">
          <table id="projectDataTable" class="table direction table-striped">
            <thead>
            <tr>
                <th> رقم المشروع</th>
                <th>اسم المشروع</th>
                <th> الموقع</th>
                <th>الشارع</th>
                <th>المنطقة</th>
                <th>الحالة</th>
                <th>داخل / خارج نطاق المشروع</th>
                <th>تاريخ الانتهاء المتوقع</th>
         </tr>
            </thead>
            <tbody>
                <tr >
                    <td></td>
                    <td></td>
                  <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                                    
                 </tr>
            </tbody>
           
          </table>
        </div>
       </div>
  </section>